#contato{
    background-image: url(/assets/Background_Contacts.png);
    background-size: cover;
    background-position: center;
    justify-items: center;
    padding-block: 120px 200px;
    text-align: center;

    h3 {
        margin-block: 8px;
    }

    #buttons {
        margin-top: 48px;
        gap: 16px;
}

}

.contact {
    background-color: var(--gray-300);
    width: 400px;
    border-radius: 8px;
    padding: 20px;
    justify-content: space-between;
}

span img{
    margin-right: 14px;
    width: 28px;
    height: 28px;
}

.contact:hover {
    border: 2px solid var(--blue);
    color: var(blue);
}

