#project {
    background-color: var(--gray-200);
    flex-direction: column;
    padding-inline: 163px;
    align-items: center;
    text-align: center;

    div {
        flex-direction: column;
    }

    #grid {
        grid-template-columns: 330px 330px 330px;
        margin-block: 56px 144px;
        gap: 24px;

        .projects {
            background-color: var(--gray-300);
            border-radius: 8px;
            padding: 12px;
            text-align: left;
        }

        img {
            width: 306px;
            height: 156px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 12px;
        }
        
    }
}